<form id="addLogDetailForm" action="/logexercise/id/logdetail" method="post"> 
     <div class="form-group row"> 
      <div class="col-auto">
        <select name="exercise_id" id="addlogfilterid" class="form-control"><option>Choose Exercise</option>
      <option name="exercise_id">---</option>
        {{#each exerciselist}}
        <option name="exercise_id" value="{{eid}}">{{ename}} {{lname}} </option>
        {{/each}}
        </select>
      </div>
    </div>
      <div class="form-group row">
        <div class="col-auto">
          <label for="eweight" class="col-form-label">Weight:</label>
          <input type="number" min="1" class="form-control" name="eweight" id="age">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-auto">
        <select class="form-control" name="eunits" id="units1">
          <option name="eunits" value="kg">kg</option>
          <option name="eunits" value="lbs">lbs</option>
        </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-auto">
        <label for="sets" class="col-form-label">Sets:</label>
        <input type="number" class="form-control" name="sets" id="sets">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-auto">
        <label for="reps" min="1" class="col-form-label">Reps:</label>
        <input type="number" min="1" class="form-control" name="reps"  id="reps">
        </div>
      </div>
    </div>
</form>
<button type="submit" class="btn btn-primary" value="Submit" onclick="addLogDetail({{logdetails.[0].lid}})">Add</button>